body {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    background-color: rgb(242, 242, 40);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color:  #842ae5;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  ul {
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
 
  
  .completed {
    text-decoration: line-through;
  }
  